<header class="cabecalho">
  <a class="cabecalho__logo" href="index.html">
    <img class="logo-claro"  src="assets/img/logo/logo-branco.png" alt="Igreja Evangelho Pleno">
    <img class="logo-escuro" src="assets/img/logo/logo-preto.png"  alt="Igreja Evangelho Pleno">
  </a>

  <button class="hamburguer" aria-label="Abrir menu" aria-expanded="false" aria-controls="menu-principal">
    <span></span><span></span><span></span>
  </button>

  <nav class="nav" id="menu-principal" data-aberto="false">
{{nav}}
  </nav>
</header>
